vim/colors/*
vim/syntax/*
!vim/bundle/Vundle.vim
vim/bundle/*
vim/spell/*
vim/autoload/plug.vim.old
vim/plugged/*
vim/.netrwhist
vim/.init.vim-rplugin~

*.swp
*.swo

.DS_Store

fish/fishd.*
data/
clojure/
lazygit/

zsh/ignore.zsh
